.bg-img{
  position: absolute;
  top:-50px
}
.bg-img-container{
  position: relative;
  height:450px;
  padding: 0;
  overflow: hidden;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
